{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "fileName": false,
        "displayName": true
      }
    ],
    [
      "@babel/plugin-proposal-optional-chaining"
    ]
  ]
}
